
.navbar-pages{float:left;padding:14px 15px;font-size:18px;line-height:22px;height:50px}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}
.navbar-brand>img{display:block}
@media (min-width:768px){
  .navbar>.container-fluid .navbar-brand,.navbar>.container .navbar-brand{margin-left:-15px}
}

.navbar-pages:hover {
  text-decoration: none;

}
.navbar-pages{
  color: #777;
}